
div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 1em;
    color: white;
    background-color: #1c92d2;
    
    text-align: left;
    height: 150px;

}

nav {
    float: left;
    max-width: 130px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
    background-color: yellow;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
header h1,h5{


font-family: courier;
font-size: 30px;
text-align: right;
position:absolute;
		top: 60px;
		left: 800px;

}

footer{

  background-color: #f2fcfe;
  text-align: center;
  color:white; 
}
